<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>퀵보드 :: 보드게임 종합 쇼핑몰</title>
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="/docs/5.0/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="/docs/5.0/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon.ico">
    <meta name="theme-color" content="#7952b3">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js" ></script>

</head>
<body>
<% include ./header.ejs %>
<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
        <div class="row">
            <a id="checkAll" class="mt-3 mb-3 ml-3 mr-3 btn btn-outline-primary  float-left">전체선택</a>
            <a id="delete" class="mt-3 mb-3 btn btn-outline-primary float-left">삭제</a>
        </div>
        <div class="card">
            <table id="table" class="table" sortable="checked">
                <thead>
                <tr>
                    <th scope="col" style="width:10%">구매 대상</th>
                    <th scope="col" style="width:10%">number</th>
                    <th scope="col" style="width:10%">이미지</th>
                    <th scope="col" style="width:25%">이름</th>
                    <th scope="col" style="width:10%">가격</th>
                    <th scope="col" style="width:10%">수량</th>
                    <th scope="col" style="width:10%">합계</th>
                </tr>
                </thead>
                <tbody>
                <% for(var i = 0; i < carts.length; i++){%>
                <tr id='<%= carts[i].id%>'>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        </div>
                    </td>
                    <td scope="row"><%= i + 1%></td>
                    <td><img
                                src="/image/<%= carts[i].products[0].imageurl%>"></td>
                    <td><a href="#"><%= carts[i].products[0].title%></a></td>
                    <td class="price"><%= carts[i].products[0].price%></td>
                    <td>
                        <input type="number" class="amount" id="amount_<%= carts[i].id%>" value="<%= carts[i].amount%>" min="1" max="20" step="1">

                    </td>
                    <td class="priceSum"><%= carts[i].products[0].price * carts[i].amount %></td>
                </tr>
                <% } %>
                </tbody>
            </table>
        </div>

        <h5 class="text-right">
            <p class="mb-0 mt-5">
                총 주문 개수 : <span id="totalAmount">0</span>개
            </p>
            <p class="mt-0 mb-3">총 합계 : <span id="totalPrice">0</span>원</p>
        </h5>
        <a id="buy" class="mt-3 mb-3 btn btn-primary float-right">선택 항목 구매</a>
    </div>
</main>

<% include ./footer.ejs %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<!-- <script src="./src/input-spinner.js"></script> -->
<script>
    var test;
    // $("input[type='number']").inputSpinner();

    function totalAmountPriceChange(){
        
        var checks = $('.form-check-input:checked')
        var price;
        var priceSum;
        var totalAmount = 0;
        var totalPrice = 0;
        for(var i = 0; i < checks.length; i++){
            amount = checks[i].parentElement.parentElement.parentElement.querySelector('.amount');
            priceSum = checks[i].parentElement.parentElement.parentElement.querySelector('.priceSum');
            totalAmount += parseInt(amount.value)
            totalPrice += parseInt(priceSum.innerHTML)
        }
        console.log(totalAmount)
        console.log(totalPrice)

        $('#totalAmount').text(totalAmount)
        $('#totalPrice').text(totalPrice)
        
        
    }
    $("input.amount").on('change', (e)=> {
        // console.log(e.target)
        // test = e.targettest.parentElement
        e.target.parentElement.nextElementSibling.innerHTML = e.target.parentElement.previousElementSibling.innerHTML * e.target.value
        totalAmountPriceChange()
    })
    $(".form-check-input").on('change', (e) => {
        // console.log($(".form-check-input")[0])
        totalAmountPriceChange()
    })
    $('#checkAll').on('click', (e) => {
        if($('.form-check-input:not(:checked)').length == 0){
            var checked = $('.form-check-input:checked')
            for(var i = 0; i < checked.length; i++){
                checked[i].checked = false
            }
        }else{
            var unchecked = $('.form-check-input:not(:checked)')
            for(var i = 0; i < unchecked.length; i++){
                unchecked[i].checked = true
            }
        }
        totalAmountPriceChange()

    })
    $('#buy').on('click', (e) => {
        if($('#totalAmount').text() == 0){
            alert('선택된 상품이 없습니다.');
            return;
        }
        if(confirm('총 개수: ' + $('#totalAmount').text() + ', 총 가격: ' + $('#totalPrice').text() +'\n구매하시겠습니까?')){
            alert('미구현입니다!');
        }
    })
    $('#delete').on('click', (e) => {
        if($('.form-check-input:checked').length == 0){
            alert('선택된 상품이 없습니다.');
            return;
        }
        if(!confirm('삭제하시겠습니까?')){
            return;
        }
        var formData = new FormData();

        var cartList = [];
        
        var checked = $('.form-check-input:checked')
        for(var i = 0; i < checked.length; i++){
            cartList.push(checked[i].parentElement.parentElement.parentElement.id)
        }
        formData.append('cartList', cartList)
        $.ajax({
            url: '/cart',
            type: 'DELETE',
            data : Object.fromEntries(formData),
            success: function(){
                alert("등록했습니다.");
                
                console.log('form submitted.');
                window.location.href = '/cart';

            },
            error: function(){
                alert("등록 실패했습니다.");
                console.log('실패');
            }
        });
    })

    $(document).ready(() => {
        

    })
</script>
</body>
</html>
