<!DOCTYPE html>
<HEAD>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>퀵보드 :: 보드게임 종합 쇼핑몰</title>
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="/docs/5.0/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="/docs/5.0/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon.ico">
    <meta name="theme-color" content="#7952b3">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
</HEAD>

<body>
<% include ./header.ejs %>
<div class="grid-container">
  <div class="g"></div>
  <div class="category">  <%= data.category.name %></div>
  <div class="image"><img src="/image/<%= data.product.imageurl %>"></div>
  <div class="left_p">
    <div class="name">제목:<p><%= data.product.title %></p>
    정가: <p id="price"><%= data.product.price %></p>
    제작사: <p><%= data.product.designer %></p>
    플레이 인원: <p><%= data.product.playersMin %> ~ <%= data.product.playersMax %> 명</p>
    </div>
    <div class="cart_p"> <div id="addCart<%= data.product.id %>" class="btn btn-outline-primary" onclick="AddCart(<%= data.product.id %>)">장바구니에 추가</div></div>
  </div>
  <div class="right_p">
    <div class="address"><% if(session.user_id){ %>
      <a href="/user/<%= session.user_id %>/address"><input type="button" value="배송지"></a>
      <% } else { %>
        <a href="/login"><input type="button" value="배송지"></a>
      <% } %></div>
    <div class="purchase_p">
      <form name="form" method="get"></form>
      수량:<input type=hidden id="sell_price" value="<%= data.product.price %>">
      <input type="text" id="amount" value="1" size="3" onchange="change();">
      <input type="button" value=" + " onclick="add();"><input type="button" value=" - " onclick="del();"><br>
      
      금액 : <input type="text" id="sum" size="11" readonly>원
    </form>
      <input type="button" value="바로구매"></div>
  </div>
  <div class="content">상세정보: <%= data.product.content %></div>
</div>
<% include ./footer.ejs %>
<!-- script -->
<script src="https://code.jquery.com/jquery-3.5.1.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
<script  >
  function AddCart(id){
        const formData = new FormData();
        formData.append('itemId', id)
        $.ajax({
            url: '/cart',
            type: 'POST',
            data : Object.fromEntries(formData),
            success: function(){
                alert("추가했습니다.");
                console.log('form submitted.');
            },
            error: function(){
                alert("추가 실패했습니다.");
                console.log('실패');
            }
        });
    }
  var sell_price;
var amount;

window.onload = function init () {
	sell_price = document.getElementById('sell_price').value;
	amount = document.getElementById('amount').value;
	document.getElementById('sum').value = sell_price;
	change();
}

function add () {
	hm = document.getElementById('amount');
	sum = document.getElementById('sum');
	hm.value ++ ;

	sum.value = parseInt(hm.value) * sell_price;
}

function del () {
	hm = document.getElementById('amount');
	sum = document.getElementById('sum');
		if (hm.value > 1) {
			hm.value -- ;
			sum.value = parseInt(hm.value) * sell_price;
		}
}

function change () {
	hm = document.getElementById('amount');
	sum = document.getElementById('sum');

		if (hm.value < 0) {
			hm.value = 0;
		}
	sum.value = parseInt(hm.value) * sell_price;
}  
</script>

</html>
