<!DOCTYPE html>
<HEAD>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>퀵보드 :: 보드게임 종합 쇼핑몰</title>
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="/docs/5.0/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="/docs/5.0/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon.ico">
    <meta name="theme-color" content="#7952b3">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
</HEAD>
<BODY>
<% include ./header.ejs %>

<div class="container">
    <div class="row mt-3 pb-4">
        <div class="col-2">
            <div class="btn-group" style="width: 100%; height: 100%">
                <button type="button" class="btn btn-primary" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    카테고리
                </button>
                <div class="dropdown-menu">
                    <% for(var i=0; i<category.length; i++) {%>
                        <a class="dropdown-item" href="/product?c=<%= category[i].id%>"><%= category[i].name%></a>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="col-10 mt-4">
            <div class="row mb-3">
                <div class="col-3">
                    <a href="/">
                        <img src="https://user-images.githubusercontent.com/28296575/119583104-d5bad200-be00-11eb-8115-6b82b6991c50.png"
                             style="width: 100%"
                             alt="">
                    </a>
                </div>
                <div class="col-6">
                    <form class="form-inline" action='search' method="get">
                        <input name="q" class="form-control mr-2" type="search" placeholder="Search" style="width: 60%"
                               aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="width: 20%">Search
                        </button>
                    </form>
                </div>
                <div class="col-3">
                    <div class="btn-group float-right ">
                        <button type="button" class="btn btn-primary">개인정보</button>
                        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                            장바구니
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">보드 개임 bang 1개</a>
                            <a class="dropdown-item" href="#">루미큐브! - 이벤트 할인 2개</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/cart">장바구니 바로가기</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-6">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col" style="width:10%" href="#">로켓배송</th>
                        <th scope="col" style="width:10%" href="#">아케이드</th>
                        <th scope="col" style="width:10%" href="#">어드벤처</th>
                        <th scope="col" style="width:10%" href="#">호러</th>
                        <th scope="col" style="width:10%" href="#">이벤트</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

    <!-- 상품 목록 -->
    <div class="container">
        <h3 id="category"></h3><span>(<%= count %>)</span>
        <div class="sortby">
            <a href="?q=<%= searchWord%>&c=<%= cate%>&minPrice=<%= min%>&maxPrice=<%= max%>&sortby=0">이름순</a> <span class="divider">|</span>
            <a href="?q=<%= searchWord%>&c=<%= cate%>&minPrice=<%= min%>&maxPrice=<%= max%>&sortby=1">가격순</a> <span class="divider">|</span>
            <a href="?q=<%= searchWord%>&c=<%= cate%>&minPrice=<%= min%>&maxPrice=<%= max%>&sortby=2">최신등록순</a>
            <hr>
            <strong>카테고리 필터</strong><span class="divider">|</span>
            <form action="search" method="get">
                <input type="hidden" name="q" value="<%= searchWord %>">
            <% for(let i=0; i<category.length; i++) {%>
                <label><input type="checkbox" id="<%= category[i].name%>" name="c" value="<%= category[i].id %>" onclick="filtering()"><%= category[i].name %></label>
            <% } %><br>
            <strong>가격 필터</strong><span class="divider">|</span><label><input type="text" name="minPrice"></label> ~ <label><input type="text" name="maxPrice"></label>
                <input type="submit" value="적용">
            </form>
        </div>

        <div class="product-list">
            <div class="row">
                <% for(var i=0; i<items.length; i++) {
                %>
                <div class="card product-button" style="width: 16rem;">
                    <img class="card-img-top"
                         src="https://thumbnail8.coupangcdn.com/thumbnails/remote/230x230ex/image/vendor_inventory/269b/b25e1140af6fed443547f988bf349df290e5b934325560f1c05f0ba1795b.jpg"
                         alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><%= items[i].title %></h5>
                        <p class="price"><%= items[i].price %>원</p>
                        <p class="card-text">보물을 가장 빨리 찾는 사람은 누구인가</p>
                    </div>
                </div>
                <% } %>
                <% if(items.length === 0) {%>
                    <p>검색 결과가 없습니다.</p>
                <% } %>
            </div>
        </div>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <% for(let i = 0; i<count/12;i++) { %>
                <li class="page-item"><a class="page-link" href="?q=<%= searchWord%>&c=<%= cate%>&minPrice=<%= min%>&maxPrice=<%= max%>&sortby=<%= sortby%>&page=<%= i+1%>"><%= i+1%></a></li>
            <% } %>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
    <hr>
    <!-- footer -->
    <% include ./footer.ejs %>
<!-- script -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script>
    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        let regex = new RegExp("[\\?&]" + name + "=([^&#]*)"), results = regex.exec(location.search);
        return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }

    let category = document.getElementById("category");
    let categoryParameter = getParameterByName("q");
    category.innerText = categoryParameter + "의 검색결과";
</script>
</body>
</html>
